input {
    background: transparent;
    border: 1px solid;
    border-radius: 4px;
    min-height: 2rem;
    padding-left: 10px;
    width: 100%;
  }
  
input:focus-visible {
    outline: 2px solid #ED7A7A;
    border: none;
  }